bcrypt==3.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
cors==1.0.1
cycler==0.11.0
filelock==3.6.0
Flask==2.1.1
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.10
Flask-HTTPAuth==4.5.0
Flask-SQLAlchemy==2.5.1
fonttools==4.32.0
future==0.18.2
gevent==21.12.0
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
pycparser==2.21
pyparsing==3.0.8
PySocks==1.7.1
python-dateutil==2.8.2
requests==2.27.1
requests-file==1.5.1
six==1.16.0
SQLAlchemy==1.4.36
tldextract==3.2.1
urllib3==1.26.9
Werkzeug==2.1.1
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
